<connectionStrings>
	<add name="CodedHomesDEV" connectionString="Server=tcp:j7715v000z.database.windows.net,1433;Database=CodedHomes;User ID=mrubart@j7715v000z;Password=Viking-858;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
	<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Codedhomes.Web-20150306114650;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Codedhomes.Web-20150306114650.mdf" providerName="System.Data.SqlClient" />
</connectionStrings>
