<connectionStrings>
	<add name="CodedHomesEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=j7715v000z.database.windows.net,1433;initial catalog=CodedHomes;persist security info=True;user id=mrubart;password=Viking-858;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
