<connectionStrings>
	<add name="CodedHomesDEV" connectionString="Server=tcp:j7715v000z.database.windows.net,1433;Database=CodedHomes;User ID=mrubart@j7715v000z;Password=Viking-858;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
</connectionStrings>
